<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Cafe Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Select village</ion-label>
        <ion-select name="village" [(ngModel)]="village" placeholder="Select One">
          <ion-select-option value="3">Village 3</ion-select-option>
          <ion-select-option value="4">Village 4</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Cafe name</ion-label>
        <ion-input type="text" name="name" autocomplete="off" [(ngModel)]="name"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-input type="text" name="desc" autocomplete="off" [(ngModel)]="desc"></ion-input>
      </ion-item>
  
      <ion-button expand="block" (click)="register()">Submit</ion-button>
    </ion-list>
  </form>
</ion-content>
