<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Food Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment" value="info">
    <ion-segment-button value="info">
      <ion-label>Info</ion-label>
    </ion-segment-button>
    <ion-segment-button value="nutrients">
      <ion-label>Nutrients</ion-label>
    </ion-segment-button>
    <ion-segment-button value="comments">
      <ion-label>Comments</ion-label>
    </ion-segment-button>
  </ion-segment>


  <div *ngIf="segment == 'info'">
    <ion-list lines="full">
      <ion-item>
        <ion-input required type="text" placeholder="Food Name" [(ngModel)]="todo.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Enter some description" [(ngModel)]="todo.description"></ion-textarea>
      </ion-item>
      <br>
      <img [src]="image"/>
     <!--<input type="file" (change)="fileChanged($event)" /> -->
  
    </ion-list>
  </div>

  <div *ngIf="segment == 'nutrients'">
    <ion-item>
      <ion-label position="stacked">Carbohydrate (gram)</ion-label>
      <ion-input required type="number" [(ngModel)]="nutrients.carb" readonly (change)="calculateCalory()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Protein (gram)</ion-label>
      <ion-input type="number" [(ngModel)]="nutrients.protein" readonly (change)="calculateCalory()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fat (gram)</ion-label>
      <ion-input type="number" [(ngModel)]="nutrients.fat" readonly (change)="calculateCalory()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Food Calory</ion-label>
      <ion-input type="number" [(ngModel)]="nutrients.cal" readonly></ion-input>
    </ion-item>
  </div>

  <div *ngIf="segment == 'comments'">
    <ion-button color="tertiary" (click)="presentAlertPrompt(todo)">Add Comment</ion-button>
    <div *ngFor="let comment of comments" class="comment-section ion-padding">
      <ion-label position="stacked">{{comment.name}}</ion-label>
      <br>
      <ion-textarea readonly>{{comment.text}}</ion-textarea>
    </div>
  </div>
</ion-content>