.btn{
    cursor: pointer;
    ion-icon{
        font-size: 1.7em;
    }
    #add{
        color:rgb(65, 190, 65);
    }
    #rm{
        color:rgb(190, 65, 65);
    }

    .margin-left{
        padding-left: 100px;
    }
}

.comment-section{
    border-bottom: 1px solid #8f8d8d; 
}